<div class="slider">
    <div class="slider__arrow slider__arrow_left"></div>
    <div class="slider__container">

    </div>
    <div class="slider__arrow slider__arrow_right"></div>
    <button class="slider__load-more">Load more</button>
</div>
