<div class="breadcrumbs">
    <span class="breadcrumbs__category">
        <%= breadcrumbs.category %>
    </span>
    /
    <span class="breadcrumbs__subcategory">
        <%= breadcrumbs.subcategory %>
    </span>
</div>
