<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="main.css">
</head>
<body>

<header class="header">
</header>

<div class="container">
    <div class="h-video-group video-group js-step-by-step">
        <h2 class="video-group__title video-group__title_narrow">
            Step <span class="video-group__title_stress">by</span> step
        </h2>
        <%- include('blocks/slider/slider') -%>
    </div>

    <div class="h-video-group video-group js-education">
        <h2 class="video-group__title">
            Craft <span class="video-group__title_stress">education</span>
        </h2>
        <%- include('blocks/slider/slider') -%>
    </div>

    <div class="h-video-group video-group js-inspiration">
        <h2 class="video-group__title">Inspiration</h2>
        <%- include('blocks/slider/slider') -%>
    </div>
</div>

<%- include('blocks/modal-video-box/modal-video-box') -%>

<footer class="footer">
</footer>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="scripts.js"></script>
</body>
</html>
