@import 'media';
@import 'colors';
@import 'blocks/header/header';
@import 'blocks/breadcrumbs/breadcrumbs';
@import 'blocks/custom-select/custom-select';
@import 'blocks/search/search';
@import 'blocks/slider/slider';
@import 'blocks/video-group/video-group';
@import 'blocks/modal-video-box/modal-video-box';
@import 'blocks/footer/footer';

@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media @tablet-strict {
        max-width: @sm-min;
    }

    @media @desktop {
        max-width: @lg-min;
    }
}

.container-fluid {
    width: 100%;
    padding: 0 18px;
    box-sizing: border-box;

    @media @desktop {
        padding: 0 37px;
    }
}

.content-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    @media @phone-strict {
        margin-bottom: 35px;
    }

    @media @tablet {
        width: 680px;
    }

    @media @desktop {
        width: 958px;
        margin-bottom: 25px;
    }
}

.content-wrapper {
    @media @tablet {
        padding-top: 110px;
    }

    @media @desktop {
        padding-top: 95px;
    }
}

.breadcrumbs {
    padding: 15px 11px 0;

    @media @tablet-strict {
        padding: 42px 0 0;
        width: 680px;
        margin: 0 auto;
    }

    @media @desktop {
        padding: 8px 37px 0;
    }
}

.page-title {
    text-transform: uppercase;
    width: 100%;
    padding-top: 5px;
    margin-bottom: 0;
    font-size: 27px;

    @media @tablet {
        font-size: 57px;
        margin-top: 0;
    }

    @media @desktop {
        font-size: 77px;
        margin-top: 38px;
    }
}

.main-video-cover {
    width: 100%;
    margin-top: 12px;
    background: url('https://img.youtube.com/vi/Jp594-ajK5E/maxresdefault.jpg');
    background-size: 100%;
    position: relative;
    cursor: pointer;
    transition: filter 0.2s ease-out;

    @media @tablet-strict {
        height: 345px;
        margin-top: 48px;
    }

    &::before {
        content: '';
        display: block;
        width: 30%;
        height: 60%;
        background: url('img/play_icon.svg') no-repeat;
        background-size: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.unavailable {
    filter: brightness(0.3);
    cursor: wait;
}

.main-text {
    border-bottom: 1px solid black;
    font-weight: bold;
    line-height: 19px;
    padding: 11px 3px;

    @media @tablet {
        font-size: 30px;
        line-height: 36px;
        padding: 35px 3px 15px
    }

    @media @desktop {
        padding: 17px 3px 23px;
    }
}

.video-group {
    margin-top: 60px;

    @media @desktop {
        margin-top: 10px;
    }

    @media @phone-strict {
        width: 310px;
        margin-left: auto;
        margin-right: auto;

        &:first-child {
            margin-top: 0;
        }
    }
}

.modal-video-box {
    @media @tablet {
        height: calc(~'100% - 105px');
    }

    @media @desktop {
        height: calc(~'100% - 90px');
    }
}

.header {
    @media @tablet {
        position: fixed;
        z-index: 20;
    }
}

.footer {
    margin-top: 70px;
    @media @desktop {
        margin-top: 125px;
    }
}
