@import 'media';
@import 'colors';
@import 'blocks/header/header';
@import 'blocks/custom-select/custom-select';
@import 'blocks/slider/slider';
@import 'blocks/video-group/video-group';
@import 'blocks/modal-video-box/modal-video-box';
@import 'blocks/footer/footer';

@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media @tablet-strict {
        max-width: @sm-min;
    }

    @media @desktop {
        max-width: @lg-min;
    }
}

.container-fluid {
    width: 100%;
    padding: 0 18px;
    box-sizing: border-box;

    @media @desktop {
        padding: 0 37px;
    }
}

.video-group {
    margin-bottom: 58px;

    @media @desktop {
        margin-bottom: 20px;
    }

    @media @phone-strict {
        width: 310px;
        margin-left: auto;
        margin-right: auto;
    }
}

.modal-video-box {
    @media @tablet {
        height: calc(~"100% - 105px");
    }

    @media @desktop {
        height: calc(~"100% - 90px");
    }
}

.header {
    @media @tablet {
        position: fixed;
        z-index: 20;
    }
}
