<div class="modal-video-box">
    <button class="modal-video-box__close" id="js-video-modal-close"></button>
    <div class="modal-video-box__cover modal-video-box__cover_hidden"></div>
    <div class="modal-video-box__player" id="js-player">
    </div>
</div>
